* {
    font-family: "roboto", sans-serif;
}

h1 {
    font-family: "shrikhand";
    font-style: italic;
}

h2, h3 {
    font-weight: 700;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

.restaurants a{
    color: black;
    border-bottom: none;
}