body {
    display: flex;
    flex-direction: column;
    background-color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

img {
    width: 100%;
    object-fit: cover;
}

.main-content {
  max-width: 1440px;
  width: 100%;
}
