button {
    padding: 15px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(0deg,#9356DC, #FF79DA);
    color: white;
    margin-top: 15px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}